* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

/* Запобігання drag подіям на color picker */
.no-drag {
  user-select: none;
  pointer-events: auto;
}

.no-drag * {
  user-select: none;
}
