* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  padding: 20px;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* або бажаний розмір */
  max-height: 80vh;
  overflow-y: auto; /* дозволяє прокрутку, якщо зміст виходить за рамки вікна */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-button {
  background: transparent !important; /* Зробити фон прозорим */
  color: indigo; /* Встановити колір тексту (білий для прикладу) */
  border: none; /* Видалити рамку */
  font-size: 1.5rem; /* Збільшити розмір шрифту */
  position: absolute; /* Абсолютне позиціонування відносно батьківського елемента, який має relative */
  top: 10px; /* Відступ зверху */
  right: 10px; /* Відступ зправа */
  cursor: pointer; /* Вказівник курсора при наведенні */
}

.close-button:hover {
  color: #ff0000; /* Змінити колір тексту при наведенні */
}

h2 {
  color: #ff0000; /* Приклад, як можна змінити стилі заголовку безпосередньо через CSS */
}

button {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #812590;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #9932cc;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
